@charset "utf-8";


/* clearfix (Firefox)
------------------------------- */
.clearfix:after{
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

/* WinIE7
------------------------------- */
.clearfix{
	display:inline-block;
}

/* WinIE5,6
------------------------------- */
/* Hides from IE-mac \*/
* html .clearfix{
	height:1px;
}

.clearfix{
	display:block;
}
