@charset "utf-8";


/*==========================================================
	競馬ブック
==========================================================*/

/*---------------------
 Container
---------------------*/
#container {
	margin: 5px auto;
	width: 960px;
	/* background: url("/sp/images/common/bg_body.gif") repeat scroll 0 0 rgba(0, 0, 0, 0); */
}

#container #flex_container_top {
	display: flex;
}

#container #flex_container_top .main {
	float: left\9; /* IE10以下 */
	width: 78.5%;
	/* width: 750px\9; */ /* IE10以下 */
	background: #fff;
}

#container #flex_container_top .side {
	float: right\9; /* IE10以下 */
	width: 200px;
	background: #fafafa;
	border: 1px solid #eee;
}

#container #flex_container {
	display: flex;
}

#container #flex_container #maincontent {
	float: left\9; /* IE10以下 */
	width: 78.5%;
	/* width: 750px\9; */ /* IE10以下 */
	background: #fff;
	border: 1px solid #eee;
}

#container #flex_container #sidecontent {
	float: right\9; /* IE10以下 */
	width: 200px;
	background: #fdfdfd;
	border: 1px;
}

#container #flex_container #fullcontent {
	width: 100%;
	background: #fff;
	border: 1px solid #eee;
}

/*---------------------
 header
---------------------*/

#header {
	position: relative;
	margin: 0 auto;
	width: 960px;
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	height: 45px;
}

#header .header_content {
}

#header .header_content h2 {
	position: absolute;
	top: 0px;
	left: 0;
}

#header .header_content ul {
	display: flex;
}

#header .header_content ul li:first-child {
	margin-right: auto;
}

#header .header_content ul li {
	float: right\9; /* IE10以下 */
	margin-top: 10px;
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-left: 1px solid #dadada;
	text-align: center;
	padding: 2px 8px;
}

/*---------------------
 menu
---------------------*/
#menu {
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	margin: 0 auto;
	width: 100%;
}

/*---------------------
 menu .globalmenu
---------------------*/
#menu .globalmenu ul {
	margin: 0 auto;
	width: 960px;
	display: flex;
	/* justify-content: space-between; */
	background: #1f4e3a none repeat scroll 0 0;
	background: -moz-linear-gradient(#005D36, #1f4e3a);
	background: -webkit-linear-gradient(#005D36, #1f4e3a);
	background: -ms-linear-gradient(#005D36, #1f4e3a);
}

#menu .globalmenu ul li {
	float: left\9; /* IE10以下 */
	background: #1f4e3a none repeat scroll 0 0;
	background: -moz-linear-gradient(#005D36, #1f4e3a);
	background: -webkit-linear-gradient(#005D36, #1f4e3a);
	background: -ms-linear-gradient(#005D36, #1f4e3a);
	border-left: 1px solid #1C4634;
	text-align: center;
	padding: 5px 8px;
}

#menu .globalmenu ul li:last-child {
	border-right: 1px solid #1C4634;
}

#menu .globalmenu ul li a {
	color: #fff;
}

#menu .globalmenu ul li.active {
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
}

#menu .globalmenu ul li.active a {
	color: #1F4E3A;
}

/*---------------------
 menu .globalnavi
---------------------*/
#menu .globalnavi ul {
	margin: 0 auto;
	width: 960px;
	display: flex;
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-bottom: 1px solid #dadada;
}

#menu .globalnavi ul li {
	float: left\9; /* IE10以下 */
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-left: 1px solid #dadada;
	text-align: center;
	padding: 5px 5px;
}

#menu .globalnavi ul li:last-child {
	border-right: 1px solid #dadada;
}

#menu .globalnavi ul li a {
	color: #1F4E3A;
}

#menu .globalnavi ul li.active {
	background: #398c67 none repeat scroll 0 0;
	background: -moz-linear-gradient(#398c67, #449A76);
	background: -webkit-linear-gradient(#398c67, #449A76);
	background: -ms-linear-gradient(#398c67, #449A76);
}

#menu .globalnavi ul li.active a {
	color: #fff;
}

/*---------------------
 footer
---------------------*/
#footer {
	/* position: fixed; */
	width: 100%;
	bottom: 0;
	height: 50px;
	background: #1f4e3a none repeat scroll 0 0;
	background: -moz-linear-gradient(#1f4e3a, #005d36);
	background: -webkit-linear-gradient(#1f4e3a, #005d36);
	background: -ms-linear-gradient(#1f4e3a, #005d36);
}

/*---------------------
 maincontent
---------------------*/

.raceindex ul {
	display: flex;
	margin: 0 0 5px;
}

.raceindex ul li {
	float: left\9; /* IE10以下 */
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-left: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	text-align: center;
	padding: 2px 5px;
}

.raceindex ul.keibajyo li {
	width: 33.3%;
}

.raceindex ul.race li {
	width: 12.3%;
}

.raceindex ul li:last-child {
	border-right: 1px solid #dadada;
}

.raceindex ul li.active {
	background: #398c67 none repeat scroll 0 0;
	background: -moz-linear-gradient(#398c67, #449A76);
	background: -webkit-linear-gradient(#398c67, #449A76);
	background: -ms-linear-gradient(#398c67, #449A76);
}

.raceindex ul li.active a {
	color: #fff;
}

/*---------------------
 .racename
---------------------*/
.racename {
	margin: 0 0 5px;
}

/*---------------------
 .menuindex
---------------------*/
.menuindex {
	margin: 0 0 5px;
}

.menuindex ul {
	border-bottom: 1px solid #dadada;
	display: flex;
	flex-wrap: wrap;
}

.menuindex ul.cyuou li {
	float: left\9; /* IE10以下 */
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-top: 1px solid #dadada;
	border-right: 1px solid #dadada;
	text-align: center;
	padding: 2px;
	width: 11.97%;
}

.menuindex ul.column li {
	float: left\9; /* IE10以下 */
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-top: 1px solid #dadada;
	border-right: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	text-align: center;
	padding: 2px;
	width: 24%;
}

.menuindex ul li.active {
	background: #398c67 none repeat scroll 0 0;
	background: -moz-linear-gradient(#398c67, #449A76);
	background: -webkit-linear-gradient(#398c67, #449A76);
	background: -ms-linear-gradient(#398c67, #449A76);
}

.menuindex ul li.active a {
	color: #fff;
}

/*---------------------
 maincontent .oshirase
---------------------*/
.oshirase {
	margin: 0 0 5px;
}

.oshirase ul {
	display: flex;
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
}

.oshirase ul li {
	float: left\9; /* IE10以下 */
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-left: 1px solid #dadada;
	text-align: center;
	padding: 2px 5px;
}

.oshirase ul li.midashi {
	background: #1f4e3a none repeat scroll 0 0;
	border-left: 1px solid #dadada;
	text-align: center;
	padding: 2px 5px;
	color: #fff;
}

/*---------------------
 pagetitle
---------------------*/
#pagetitle {
	background: #1f4e3a none repeat scroll 0 0;
	border-bottom: 1px solid #111;
	padding: 0;
	width: 100%;
}
#pagetitle .title {
	color: #fff;
	padding: 4.5px 2px;
	text-align: left;
}

#pagetitle .title p {
	border-left: 5px solid #fff;
	font-size: 100%;
	margin: 0;
	padding: 0 5px;
}

/*---------------------
 select
---------------------*/
.select {
	margin: 0 auto;
	width: 100%;
}

.select ul {
	display: flex;
	justify-content: flex-end;
}

.select ul li {

}

/*---------------------
 layout
---------------------*/
.layout {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.layout .half {
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border-left: 1px solid #dadada;
	text-align: center;
	padding: 2px 5px;
}

/* --- 表全体 --- */
table.example {
	border: 1px #c0c0c0 solid; /* 大枠の境界線 */
	border-collapse: collapse;
	font-size: 80%;
}

/* --- 表タイトル --- */
table.example caption {
	padding-bottom: 5px; /* 表タイトルの下パディング */
}

/* --- 見出しセル --- */
table.example thead th {
	background-color: #faf8eb; /* 見出しセルの背景色 */
	text-align: center;
}

/* --- 表ボディ --- */
table.example tbody {
	background-color: #fff; /* ボディの背景色 */
}

/* --- マウスオーバー時 --- */
table.example tbody tr:hover {
	background-color: #e5e5e5; /* 行の背景色 */
}

/* --- セル --- */
table.example th,
table.example td {
	/* width: 20%; */ /* セルの幅（セルの幅を均等にする場合） */
	padding: 6px 8px; /* セルのパディング（上下、左右） */
	border: 1px #c0c0c0 solid; /* セルの境界線 */
	text-align: center;
}

table.example td.rank {
	text-align: right;
}

table.example td.kisyu {
	text-align: left;
}

table.example td.right {
	text-align: right;
}


/*---------------------
 パンくず
---------------------*/
div.pankuzu {
	margin: 0 0 5px;
	background: none repeat scroll 0 0 #1F4E3A;
	overflow: hidden;
	width: 100%;
	font-size: 12px;
}

div.pankuzu ul {
	padding: 0;
}

div.pankuzu ul li {
	float: left\9; /* IE10以下 */
	padding: 5px 2px;
}

div.pankuzu ul li span {
	padding: 0 2px;
	color: #fff;
}

div.pankuzu ul li a {
	padding: 0 2px;
	color: #fff;
}


/*---------------------
 Footer
---------------------*/
#Footer {
	background: #1F4E3A;
	background: linear-gradient(#1F4E3A, #005D36) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, from(#1F4E3A), to(#005D36));
	clear: both;
	color: #fff;
	overflow: hidden;
	padding: 0 0 10px;
	width: 100%;
	font-size: 88%;
}

#Footer ul.footer-navi {
	background: url("") repeat-x scroll left top #EDEFE1;
	border-bottom: 1px solid #F9F2E5;
	padding: 12px 0;
	text-align: center;
	width: 100%;
}

#Footer ul.footer-navi li {
	display: inline;
	line-height: 1.6;
}

#Footer ul.footer-navi li span {
	color: #D0D0D0;
	margin: 0 4px;
}

#Footer p {
	padding: 5px;
}


/*---------------------
 pagetop
---------------------*/
.pagetop {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.pagetop a {
	display: block;
	height: 20px;
	background-color: #fff;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity:0.85;
	text-align: center;
	color: #111;
	font-size: 16px;
	text-decoration: none;
	line-height: 20px;
	padding: 5px;

	text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
	-webkit-box-shadow: 1px 1px 2px #E7E7E7;
	-moz-box-shadow: 1px 1px 2px #E7E7E7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/*---------------------
 ボックス
---------------------*/
div.boxsection {
	width: 99%;
	background-color: #ffffff;
	border: 1px #c0c0c0 solid;
	margin: 0 0 5px;
}

/* --- 見出し --- */
div.boxsection p.title {
	margin: 0;
	padding: 2px 5px;
	background-color: #EDECCD; /* 見出しセルの背景色 */
	border-bottom: 1px #c0c0c0 solid;
}

/* --- ボックス内の段落 --- */
div.boxsection p {
	margin: 1em 10px; /* 段落のマージン（上下、左右） */
}

/* --- ボックス内の段落 --- */
div.boxsection div.renban {
	margin: 0; /* 段落のマージン（上下、左右） */
}

/*---------------------
 タブメニュー
---------------------*/
#tab-menu {
	list-style: none;
}

#tab-menu li {
	display: inline-block;
	padding: 5px 25px;
	background: #fdfdfd none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #F0F0F0);
	background: -webkit-linear-gradient(#fff, #F0F0F0);
	background: -ms-linear-gradient(#fff, #F0F0F0);
	border: 1px solid #dadada;
	border-bottom: none;
	text-decoration: underline;
}

#tab-menu li.active {
	background: #398c67 none repeat scroll 0 0;
	background: -moz-linear-gradient(#398c67, #449A76);
	background: -webkit-linear-gradient(#398c67, #449A76);
	background: -ms-linear-gradient(#398c67, #449A76);
	color: #fff;
}

#tab-menu li:hover {
	cursor: pointer;
	text-decoration: none;
}

/* タブの中身 */
#tab-box {
	padding: 5px;
	border: 1px solid #ccc;
}
#tab-box div {
	display: none;
}
#tab-box div.active {
	display: block;
}
