@charset "utf-8";


/*==========================================================
	競馬ブック
==========================================================*/

/*---------------------

---------------------*/
.flex_syutuba {
	display: flex;
	margin: 0 0 5px;
}

.flex_syutuba .flex_syutuba_left {
	float: left\9; /* IE10以下 */
	width: 49.9%;
	background: #fff;
}

.flex_syutuba .flex_syutuba_right {
	float: right\9; /* IE10以下 */
	width: 49.9%;
	background: #fafafa;
}
.fontred{color: #E4003C!important;}
.fontbold,.fontbold a{font-weight: bold;}

/*---------------------
 レース名
---------------------*/
.racename{
	font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro," メイリオ", Meiryo, Osaka," ＭＳ Ｐゴシック", MS PGothic," sans-serif";line-height: 1em;color: #222;
}

.racenameleft div{
	float:left; margin: 0 auto 0;
}
.racenameleft h2{
	font-size: 1.1em;margin: -2px 0 2px 0;
}
.racenameleft div .raceno{
	padding: 13px 6px 17px;margin:0 4px 0 0; background-color: #222; color: #fff;font-family: Tahoma, Geneva," sans-serif"; font-size: 2em; font-weight: bold;
}
.hasso{
	padding-top: 6px;
}
.hassotime{
	font-size: 1.2em;font-weight: bold;font-family: Tahoma, Geneva," sans-serif";
}
.hassotime{
	font-size: 1.2em;font-weight: bold;font-family: Tahoma, Geneva," sans-serif";
}
.racenamewin5{ float: left; font-size: .8em; line-height: 1em; font-family: "Arial Black", Gadget, sans-serif; color: #007440; font-style: italic;}
.racenamewin5 span.win5{ color: #182D7B; font-size: 1.6em; vertical-align: bottom;margin: 0 1px 0 -1px;}
.racenamewin5 span.win5 span.win5no{ font-style: normal; }
.racenameleft div h1{
	font-size: 1.8em;font-weight: bold;margin-bottom: 6px;
}
.racenameleft div.h1block{
	margin: 0 8px ;
}
.racenameright{
	float: right;
}
.racenameright div{
	float: left;
}
.racekyori{
	font-size: 1.4em; font-weight: bold; line-height: 1em; margin: 8px 8px 0 0;
}
.tenkibaba{
	margin-top: 8px;font-weight: bold;
}
.racesyoukin ol{
	font-size: 1em; list-style: none;
}
.racesyoukin ol span{
	float: right;
}
.racenametime{
	font-size: 1.1em; line-height: 1.5em; margin: 0 8px;text-align: right;
}
.racenametime .racenamesmall{
	font-size: .6em;
}
.racenameright .noucut{
	font-size: 1.8em;font-weight: bold;line-height: 1.4em;color: #666;margin-right: 8px;
}


/*---------------------
 出馬表の出馬表
---------------------*/
.syutuba {
	margin: 0 0 5px;
}

/* --- 表全体 --- */
table.syutuba {
	border: 1px #c0c0c0 solid;
	border-collapse: collapse;
}

/* --- 見出しセル --- */
table.syutuba th {
	background-color: #faf8eb;
	background-color: #EDECCD;
	text-align: center;
}

/* --- 表ボディ --- */
table.syutuba tbody {
	background-color: #fff;
}

/* --- マウスオーバー時 --- */
table.syutuba tbody tr:hover {
	background-color: #fffacd;
}

/* --- 取消・競走除外 --- */
table.syutuba tbody tr.torikesi {
	background-color: #e5e5e5;
}

/* --- セル --- */
table.syutuba th,
table.syutuba td {
	padding: 1px 3px;
	border: 1px #c0c0c0 solid;
	text-align: center;
}

table.syutuba td.left {
	text-align: left;
}

table.syutuba td.right {
	text-align: right;
}

table.syutuba td.waku {
	font-weight: bold;
}

table.syutuba td.waku p.waku1 {
	background: #fff;
	color: #000;
}

table.syutuba td.waku p.waku2 {
	background: #000;
	color: #fff;
}

table.syutuba td.waku p.waku3 {
	background: #f00;
	color: #000;
}

table.syutuba td.waku p.waku4 {
	background: #00f;
	color: #fff;
}

table.syutuba td.waku p.waku5 {
	background: #ff0;
	color: #000;
}

table.syutuba td.waku p.waku6 {
	background: #008000;
	color: #fff;
}

table.syutuba td.waku p.waku7 {
	background: #ffa500;
	color: #000;
}

table.syutuba td.waku p.waku8 {
	background: #f9c;
	color: #000;
}

/* 並び替え用 */
table.syutuba th.header {
	text-decoration: underline;
	cursor: pointer;
}

table.syutuba th.header:hover {
	text-decoration: none;
}

/*---------------------
 出馬表のトラックマン予想連番
---------------------*/
.renban {
	margin: 0;
}

/* --- 表全体 --- */
table.renban {
	border: 1px #c0c0c0 solid;
	border-collapse: collapse;
}

/* --- 見出しセル --- */
table.renban th {
	background-color: #faf8eb;
	background-color: #EDECCD;
	text-align: center;
	line-height: 1em;
	font-size: .9em;
}

/* --- 表ボディ --- */
table.renban tbody {
	background-color: #fff;
}

/* --- マウスオーバー時 --- */
table.renban tbody tr:hover {
	background-color: #fffacd;
}

/* --- セル --- */
table.renban th {
	padding: 1px 3px;
	border: 1px #c0c0c0 solid;
	text-align: center;
}

/* --- セル --- */
table.renban td {
	padding: 1px 3px;
	border: 1px #c0c0c0 solid;
	text-align: left;
}

table.renban td.left {
	text-align: left;
}

table.renban td.right {
	text-align: right;
}

/* --- セル --- */
table.renban td.name {
	background-color: #e5e5e5;
	width: 6em;
}

/* --- 行の背景色を交互に変更 --- */
table.renban tr:nth-child(even) {
	background: #F0F0F0;
}
table.renban tr:hover {
	background: #ff0;
}


/*---------------------
 コラムのボックス
---------------------*/
ul.columnbox {
	border-top: 0px solid #ddd;
	display: flex;
	flex-wrap: wrap;
}

ul.columnbox li {
	float: left;
	width: 47.9%;
	background: #fcfcfc none repeat scroll 0 0;
	background: -moz-linear-gradient(#fff, #fcfcfc);
	background: -webkit-linear-gradient(#fff, #fcfcfc);
	background: -ms-linear-gradient(#fff, #fcfcfc);
	border-top: 1px solid #eee;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #eee;
	padding: 0 0.4%;
	margin: 0.5% 0.4%;
}

ul.columnbox li a {
	display: block;
	color: #022eb0;
	text-decoration: none;
}

ul.columnbox li a:hover {
	display: block;
	color: #022eb0;
	text-decoration: underline;
}

ul.columnbox li span.image {
	float: left;
	height: 90px;
	width: 90px;
	margin-right: 10px;
}

ul.columnbox li p.updatetime {
	text-align: right;
}

/*---------------------
 コラム・ＴＭ推奨共通
---------------------*/

.tmsuisyou {font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro," メイリオ", Meiryo, Osaka," ＭＳ Ｐゴシック", MS PGothic," sans-serif"; color: #111; font-size: 1.1em;line-height: 1.6em; margin-bottom: 10px;}
.tmsuisyou h1{font-size: 2em;margin: 6px 10px 4px 0; padding: 6px 0 2px 12px; color: #FFF;
	background: #398c67 none repeat scroll 0 0;
	background: -moz-linear-gradient(#398c67, #449A76);
	background: -webkit-linear-gradient(#398c67, #449A76);
	background: -ms-linear-gradient(#398c67, #449A76);
}
.tmsuisyou h1 span,.tmsuisyou h2 span{font-size: .7em;font-weight: normal;}
.tmsuisyou h2{font-size: 1.4em;margin: 6px 0 0;background: linear-gradient(transparent 60%, #ff6 80%);}
.tmsuisyou h3{font-size: 1em;margin: 10px 0 4px;color: #444;padding: .4em .6em ;display: inline-block;line-height: 1.3;background: #C0FFAA;vertical-align: middle;}
.tmsuisyou h3:before{content: '◆';color: #fff;margin-right: 6px;}
.tmsuisyou p a{font-weight: bold;color: #022EB0;}
.tmsuisyou .mainlist1 li{display: block;margin: 8px	8px	0 0;padding: .4em 1em;border: solid 1px #999;border-radius: .8em;background: #FFF;}
.tmsuisyou .mainlist2 li{display: inline-block;*display: inline;*zoom: 1;vertical-align:top;margin: 8px	8px	0 0;padding: .4em 1em;width: 330px;border: solid 1px #999;border-radius: .8em;background: #FFF;}
.tmsuisyou .lightlink a{line-height: 1.9em; border-radius: 30px;color: #fff;background: #3E9011;text-decoration: none;margin: 6px 2px 0;padding: 0 .8em;-webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s;-ms-transition: .3s;transition: .3s;}
.tmsuisyou .lightlink a:hover { border-radius: 0; }
.tmsuisyou span.image {float: left;	margin: 8px 12px 0 0;}
.tmsuisyou span.imageright {float: right;margin: 0 12px 8px 0;}
.tmsuisyou span.imagebottom {float: left;}
.tmsuisyou div.imagebottom img{margin: 8px 8px 0 0;}
