@charset "utf-8";


/*-------------------------------
ブラウザスタイルの初期化
--------------------------------*/
body {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height: 1.5;
	margin: 0;
	font-size : 13px;
	/* background : url(../images/common/960_grid_12_col.png) repeat-y top center */
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 0;
}

input, select {
	vertical-align: middle;
}

a {
	color: #022eb0;
	color: #1F4E3A;
	text-decoration: underline;
}

a:hover {
	color: #022eb0;
	color: #1F4E3A;
	text-decoration: none;
}

img {
	max-width: 100%;
	width:auto; /* for ie8 */
}


h1,h2,h3,h4,h5,h6 {
	margin-bottom : 24px;
}

h1 {
	font-size: 48px;
	line-height: 1;
} /* 48px */

h2 {
	font-size : 36px;
	line-height : 1.3333;
} /* 48px */

h3{
	font-size : 24px;
	line-height : 1;
} /* 24px */

hgroup h2,h4,h5,h6 {
	font-size : 16px;
	line-height : 1.5;
} /* 24px */

ol, dl, dt, dd {
	margin: 0;
	padding: 0;
}

th {
	font-weight: normal;
}

.width100 {
	width: 100%;
}
